**/__pycache__/
/.coverage
/.idea/
/Kerapu.egg-info/
/bin/phing
/build/
/composer.lock
/dist/
/docs/_build/
/source/
/test/html/
/test/var/lib/AfsluitRedenen.csv
/test/var/lib/Attributen.csv
/test/var/lib/AttribuutGroepKoppelingen.csv
/test/var/lib/AttribuutGroepen.csv
/test/var/lib/BehandelKlassen.csv
/test/var/lib/BeslisRegels.csv
/test/var/lib/BoomParameters.csv
/test/var/lib/Diagnosen.csv
/test/var/lib/Geslachten.csv
/test/var/lib/LimitatieMachtigingen.csv
/test/var/lib/Specialismen.csv
/test/var/lib/VertaalZorgActiviteiten.csv
/test/var/lib/ZorgActiviteiten.csv
/test/var/lib/ZorgProductGroepen.csv
/test/var/lib/ZorgTypen.csv
/test/var/lib/ZorgVragen.csv
/test/var/lib/*.xml
/vendor/